/.ipynb_checkpoints
/01-Introduction/.ipynb_checkpoints
/02-DataFrames/.ipynb_checkpoints
/03-HypothesisTests/.ipynb_checkpoints
/04-GLM/.ipynb_checkpoints
/05-Optimization/.ipynb_checkpoints
/06-MCMC/.ipynb_checkpoints
/07-MachineLearning/.ipynb_checkpoints
